<header class="site-header">
  <div class="container">
    <div class="site-title-wrapper">
      <a class="site-logo js-ajax-link" title="{{ site.author }}" href="/">
        <div class="site-avatar"></div>
      </a>
    </div>

    <ul class="site-nav">
      <li class="site-nav-item">
        <a class="js-ajax-link" title="GitHub" href="{{ site.github_url }}" target="_blank">
          <i class="fa fa-github-square"></i>
        </a>
      </li>

      <li class="site-nav-item">
        <a class="js-ajax-link" title="Twitter" href="{{ site.twitter_url }}" target="_blank">
          <i class="fa fa-twitter-square"></i>
        </a>
      </li>

      <li class="site-nav-item">
        <a class="js-ajax-link" title="Instagram" href="{{ site.instagram_url }}" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
