<!DOCTYPE html>
<html>

{% include head.html %}

<body class="home-template">
  <div id="wrapper">

    {% include header.html %}

    <div id="ajax-container">
      <div class="container">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>